* {
    box-sizing: border-box;
  }
  .navbar ul {
    list-style-type: none;
      margin: 0;
      padding: 0;
              }

              header{
                  font-size: 1.3em;
              }

              code{
                  background: #ccc ;
                   }

 #main-doc{
     float:right;
 }               